<form>
  <div>
    <label for="name" class="form-label mb-3">Room Name</label>
    <div
      id="<%= form %>-name-invalid"
      class="alert alert-danger"
      role="alert"
      hidden
    >
      Invalid
    </div>
    <input
      type="text"
      id="<%= form %>-name"
      class="form-control mb-3"
      id="name"
      name="name"
      required
    />
  </div>
  <div>
    <label for="password" class="form-label mb-3">Password</label>
    <div
      id="<%=form %>-password-invalid"
      class="alert alert-danger"
      role="alert"
      hidden
    >
      Invalid
    </div>
    <input
      type="password"
      id="<%= form %>-password"
      class="form-control mb-3"
      name="password"
      required
    />
  </div>
  <div>
    <label for="chips" class="form-label mb-3"
      >Chips you want to start with:</label
    >
    <div
      id="<%=form %>-chips-invalid"
      class="alert alert-danger"
      role="alert"
      hidden
    ></div>
    <input
      type="number"
      id="<%= form %>-chips"
      name="chips"
      step="10"
      min="0"
      class="form-control mb-5"
      required
    />
  </div>
</form>
